
.navbar-brand{
  padding-left:10px;
}
.img{
  height:80px;
}
.img1{
  width: 1300px;
  height:500px;
  position: center;
}
.bor{
  border-top:dotted #242F9B 6px;
  width:10%;
}
#Acadamics{
  background-color:#B9E0FF;
  font-family: "Montserrat";
  color:purple;
  font-size:1.5rem;


}
.para{
  padding-left:35%;
}
.img2{

    float:left;
  height:250px;
  width:250px;
  border-radius:50%;
  margin-left: 160px;
  border-style:solid;
  border-color:black;
}





.btn:hover{

  background-color:black;

}

.bn:hover{

  background-color:black;

}

.h{
  color:brown;
}
.r{
    border-style:solid;
  border-color:black;
}
#sports{
  background-color:#B9E0FF;
  font-family: "Montserrat";
  color:purple;
  font-size:1.5rem;


}
.img3{

    float:right;
  height:250px;
  width:250px;
  border-radius:50%;
  margin-right: 160px;
  border-style:solid;
  border-color:black;
}
.para1{
  padding-left:10%;
  margin-right:200px;
  margin-left:20px;
}
#Examination{
  background-color:#B9E0FF;
  font-family: "Montserrat";
  color:purple;
  font-size:1.5rem;


}
.img4{

    float:left;
  height:250px;
  width:250px;
  border-radius:50%;
  margin-left: 160px;
  border-style:solid;
  border-color:black;
}
.para2{
  padding-left:30%;
  margin-top:40px;
  margin-right:200px;
  margin-left:20px;
}
#contact{
  background-color:#B9E0FF;
  font-size:1.5rem;
    text-decoration:underline;
  text-shadow: 5px 5px 4px red;

}
.fab:hover{
  background-color:pink;
}
.foot{
  height:100px;
  width:100x;
}
