body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #070A52;
}

h1 {
    color: black;
    font-family:sans-serif;
}
hr{

    border-color:#40514E;
    border-width:5px;
    width:100%;
    margin-bottom:40px;
}
.top-container {
    width: 500px;
    margin: 100px auto;
    padding-top:2%;
    padding: 2%;
    text-align: center;
    background-color: #B2A4FF;
    border: solid;
    border-color: #white;
    border-radius: 20px;
}

.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 200px;
    height: 40px;
    font-size: 20px;
    padding: 0 10px;
    margin-right: 20px;
    border: solid 1px;
}

select {
    width: 70px;
    height: 40px;
    font-size: 20px;
    padding: 0 10px;
    border: solid 1px;
}

button {
    width: 27%;
    height: 40px;
    background-color: #D864A9;
    font-size: 20px;
    border: solid;
    border-color: #3d3540;
    border-radius: 200px;
    border-width: 2px;
    color: #000000;
}

#result-display {
    margin-top: 20px;
    font-size: 20px;
}
